/* app css stylesheet */

/*  MENU  */

.menu {
  font-family: Arial;
  font-size: 3.0em;
  background: #abf;
  list-style: none;
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
}

.menuTitle {
  font-family: Arial;
  font-size: 1.5em;
  background: #bcd;
  list-style: none;
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
}

/* GAME */

.game {
  float: left;
  border: solid black 1px;
  width: 806px;
  height: 802px;
  cursor: none;
}

.aisle {
  border: solid blue 1px;
  width: 100px;
  height: 800px;
}

.aisle#left {
  float: left;
}

.aisle#right {
  float: right;
}

.gamePlayArea {
  float: left;
  border: solid purple 1px;
  width: 600px;
  height: 800px;
  background-repeat: repeat;
}

.obstacle{
  position: fixed;
  border: 2px solid black;
}