/* app css stylesheet */

/*  MENU  */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* GAME */

.game {
  float: left;
  border: solid black 1px;
  width: 800px;
  height: 800px;
}

.aisle {
  border: solid blue 1px;
  width: 98px;
  height: 798px;
}

.aisle#left {
  float: left;
}

.aisle#right {
  float: right;
}

.gamePlayArea {
  float: left;
  border: solid purple 1px;
  width: 598px;
  height: 798px;
}