@section scripts
{
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/App/App.js")"></script>
  <script type="text/javascript">
    angular.bootstrap(document, ['myApp']);
  </script>
}

<a href="#/game">Game</a>
<div ng-view></div>