<div class="game">
	<div class="aisle" id="left"></div>
  <div ng-repeat="obstacle in obstacles" style="position:fixed; left: {{obstacle.position.x}}px; top: {{obstacle.position.y}}px">
    <img ng-src="{{obstacle.image}}" ng-width="{{obstacle.size.width}}" ng-height="{{obstacle.size.height}}" />
  </div>
	<div class="gamePlayArea" ng-mousemove="minX = 100; maxX = 700; leftPos = $event.pageX < minX+32 ? minX : $event.pageX > maxX ? maxX-32 : $event.pageX - 32;">
		<img ng-src="{{babyImage}}" style="position: fixed; left: {{leftPos}}px; top: 636px;">
	</div>
	<div class="aisle" id="right"></div>
</div>
<button ng-click="spawnObstacle()">Spawn Obstacle</button>