<div class="game">
	<div class="aisle" id="left"></div>
	<div class="gamePlayArea" ng-mousemove="minX = 111; maxX = 674; leftPos = $event.pageX < minX+32 ? minX : $event.pageX > maxX ? maxX-32 : $event.pageX - 32;">
		<div ng-repeat="obstacle in obstacles" style="position:absolute;float:left">
			<img ng-src="{{obstacle.image}}" ng-width="{{obstacle.size.width}}" ng-height="{{obstacle.size.height}}" />
		</div>
		<div class="gamePlayArea" ng-mousemove="minX = 100; maxX = 700; leftPos = $event.pageX < minX+32 ? minX : $event.pageX > maxX ? maxX-32 : $event.pageX - 32;">
			<img ng-src="{{babyImage}}" style="position: fixed; left: {{leftPos}}px; top: 636px;">
		</div>
		<div class="aisle" id="right"></div>
	</div>
</div>
<button ng-click="spawnObstacle()">Spawn Obstacle</button>